.container {
  background-color: black;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px;
  position: relative;
}
.header{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.skeleton{
  display: flex;
  row-gap: 10px;
  flex-direction: column;
}